<section class="main">
  <div class="container">
    <h2>Contáctenos</h2>
  </div>
</section>
<div class="container">
  <section class="border-yellow horizontal-section contact">
    <ul>
      <li>Para más información escríbenos al Correo: abc@ejemplo.com</li>
      <li>O llámanos al: (01) 381-7941</li>
      <li>Aceptamos tarjetas</li>
      <li><%= image_tag '/visa.png' %></li>
    </ul>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.231953201762!2d-77.0301731!3d-12.027546099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf4650409279%3A0x1a864c17e3309673!2sLas+Calesas%2C+Lima+15094!5e0!3m2!1ses!2spe!4v1440541807607" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</div>