<div class="container" >
  <ul>
    <li>Horario de atención: Lunes a Domingo de 7am-11pm</li>
    <li>Las Calezas N˚ 171, Rímac, Lima - Perú</li>
    <li>Teléfono: 381-7941</li>
  </ul>
  <div>
    <span>Síguenos en:</span>
    <i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/donaelsita" target="_blank">/donaelsita</a>
  </div>
</div>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "application" %>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

