<div class="container" >
  <ul>
    <li>Dirección: Las Calezas N˚ 171, Rímac, Lima - Perú</li>
    <li>Horario de atención: Lunes a Domingo de 7am-11pm</li>
    <li>Teléfono: (01) 381-7941</li>
    <li><a id="link" href="https://devacademy.la" target="_blank">Desarrollado por DevAcademy</a></li>
  </ul>
  <div>
    <span>Síguenos en:</span>
    <ul>
      <li>
        <a href="https://www.facebook.com/donaelsita" target="_blank"><i class="fa fa-facebook-square"></i> /donaelsita</a>
      </li>
      <li>
        <a href="https://es.foursquare.com/v/caf%C3%A9-do%C3%B1a-elsita/4d023f113c89b60ce1cb658f" target="_blank"><i class="fa fa-foursquare"></i> Doña Elsita</a>
      </li>
    </ul>
  </div>
</div>
