<div class="container" >
  <ul>
    <li>Dirección: Las Calezas N˚ 171, Rímac, Lima - Perú</li>
    <li>Horario de atención: Lunes a Domingo de 7am-11pm</li>
    <li>Teléfono: (01) 381-7941</li>
  </ul>
  <div>
    <span>Síguenos en:</span>
    <ul>
      <li>
        <a href="https://www.facebook.com/donaelsita" target="_blank"><i class="fa fa-facebook-square"></i> /donaelsita</a>
      </li>
      <li>
        <a href="https://es.foursquare.com/v/caf%C3%A9-do%C3%B1a-elsita/4d023f113c89b60ce1cb658f" target="_blank"><i class="fa fa-foursquare"></i> Doña Elsita</a>
      </li>
    </ul>
  </div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="galeria/image11.png" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "application" %>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

