<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8" />
<title>Café Restaurante Doña Elsita</title>
<meta name="og:image" content="https://devacademyla.s3.amazonaws.com/public/elsita/og.png">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "application" %>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>