@media screen and (max-width: 960px) {
  header {
    nav {
      float: none;
      clear: left;
      margin: 0 auto;
      ul {
        text-align: center;
        padding-left: 0;
        li { margin: .1em .1em 0; }
      }
    }
    div { margin-top: 15px; }
  }
}

@media screen and (max-width: 720px) {
  header {
    div { display: none; }
    .navigation-menu-button {
      display: block;
      float: right;
      font-size: 2em;
      margin-top: 30px;
      &:hover {
        color: $orange;
      }
    }
    #navigation-menu {
      border-top: 1px solid #EEE;
      display: none;
      margin-bottom: 20px;
      padding-top: 10px;
      li {
        background-color: white;
        border-radius: 0;
        display: block;
        position: static;
        text-align: right;
        a { padding-right: 0; }
        &:hover { background-color: $hover-color; }
        &.active {
          margin: 0;
          transform: scale(1);
        }
      }
    }
  }
}