@media screen and (max-width: 1000px) {
  header {
    nav {
      float: none;
      clear: left;
      margin: 0 auto;
      ul {
        text-align: center;
        padding-left: 0;
        li { margin: .1em .1em 0; }
      }
    }
    div { margin-top: 15px; }
  }

  h2 { font-size: 2em; }
  .menu article div.menu-description, .menu article .price {
    position: static;
  }
  .menu article .price { font-size: 1.5em; }
  .menu {
    text-align: center;
  }
  .menu article span {
    float: none;
    width: 100%;
  }
  .menu article img {
    margin-bottom: 50px;
  }

  //home
  .speciality img, .speciality a:hover .overlay { height: 200px; }

  .location iframe {
    @include shift(0);
    @include span-columns(12);
    height: 300px;
  }
}

@media screen and (max-width: 770px) {
  header {
    div { display: none; }
    .navigation-menu-button {
      display: block;
      float: right;
      font-size: 2em;
      margin-top: 30px;
      &:hover {
        color: $orange;
      }
    }
    #navigation-menu {
      border-top: 1px solid #EEE;
      display: none;
      margin-bottom: 20px;
      padding-top: 10px;
      li {
        background-color: white;
        border-radius: 0;
        display: block;
        position: static;
        text-align: right;
        a { padding-right: 0; }
        &:hover { background-color: $hover-color; }
        &.active {
          margin: 0;
          transform: scale(1);
        }
      }
    }
  }
  //carta
  .container h2 {
    font-size: 1.5em;
    line-height: 40px;
  }
  .category {
    padding-left: 0;
    position: absolute;
    width: 200px;
    left: -200px;
    top: 63px;
    background-color: white;
    transition: all .3s ease;
    z-index: 3;
    li { border-radius: 0 5px 5px 0; }
  }
  .menu {
    padding-top: 50px;
    width: 100%;
  }
  .container {
    position: relative;
    padding: 0;
    margin: 0 50px;
  }
  .aside-menu {
    background-color: $light-yellow;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    font-size: 20px;
    left: 10px;
    line-height: 52px !important;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 200px;
    z-index: 1;
    &:hover { cursor: pointer; }
  }
  .aside-menu.active + .category {
    left: 10px;
  }
  .aside-menu .fa-caret-left {
    display: none;
  }
  .aside-menu .fa-caret-right {
    display: inline;
  }
  .aside-menu.active .fa-caret-left {
    display: inline;
  }
  .aside-menu.active .fa-caret-right {
    display: none;
  }
  .menu article div.menu-description, .menu article .price {
    position: static;
  }
  .menu {
    text-align: center;
  }
  .menu article span {
    float: none;
    width: 100%;
  }
  .menu article img {
    margin-bottom: 50px;
  }
  //home
  .speciality .three-columns {
    @include span-columns(12);
    display: inline-block;
    margin-bottom: 25px;
    &:last-child {  margin-bottom: 0; }
    img { margin: 0 auto; }
    text-align: center;
  }
  //footer
  footer {
    .container div {
      margin: 0 auto;
      float: left;
      li {
        margin-right: 25px;
        display: inline-block;
      }
      margin-top: 25px;
      display: block;
    }
    ul, .container div {
      float: none;
      text-align: center;
    }
  }
}

@media screen and (max-width: 570px) {
  body { font-size: 16px; }
  header { padding: 0 25px; }
  .container { margin: 0 25px; }
  .speciality img, .speciality a:hover .overlay { height: 150px; }
  .speciality, .location, footer, .providers { margin-top: 25px; }
  .horizontal-section, .border-yellow { padding: 25px; }
  .horizontal-section h2 { margin-bottom:25px; }
  .main { padding: 25px 0; }
  footer a, footer span { font-size: 16px; }
}